---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- {# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #} -->


<div class="fps">
  <div id="fixedDiv" class="fixed is-visible">
    Fixed Div
  </div>
	<div class="wrapper">
			<section class="artists artists_pt">
				<div class="artists__inner">
					<div class="artists__item">
						{{mixins.artist({
						img: 'img/img-md.png',
						name: 'Andreyun',
						btn: 'watch'
						})}}
					</div>
					<div class="artists__item artists__item_double">
						{{mixins.artist({
						img: 'img/img-sm.png',
						name: 'Travelle',
						btn: 'Watch'
						})}}
						{{mixins.artist({
						img: 'img/img-sm.png',
						name: 'Daniela Reyes',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item artists__item_lg">
						{{mixins.artist({
						img: 'img/img-lg.png',
						name: 'Vova',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item artists__item_lg">
						{{mixins.artist({
						img: 'img/img-lg.png',
						name: 'SOFIA',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item artists__item_double">
						{{mixins.artist({
						img: 'img/img-sm.png',
						name: 'Carl Louis',
						btn: 'Watch'
						})}}
						{{mixins.artist({
						img: 'img/img-sm.png',
						name: 'Coucheron',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item">
						{{mixins.artist({
						img: 'img/img-md.png',
						name: 'Coucheron',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item">
						{{mixins.artist({
						img: 'img/img-md.png',
						name: 'Coucheron',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item">
						{{mixins.artist({
						img: 'img/img-md.png',
						name: 'Coucheron',
						btn: 'Watch'
						})}}
					</div>
					<div class="artists__item artists__item_lg">
						{{mixins.artist({
						img: 'img/img-lg.png',
						name: 'Coucheron',
						btn: 'Watch'
						})}}
					</div>
	
					
				</div>
			</section>

		</div>
		<div class="section about-us">
			{{mixins.text({
				img: 'img/img-lg.png',
				text: 'hello'
			})}}
		</div>
  <div class="block-block"></div>
  <div class="container">
    <div class="wrapper-text">
     
    </div>
    <div class="divvsv">
      <div class="wrapper-slider">
        <div class="block-media" data-aos="fade-up-left">
          <div class="carousel-images slider-nav">
            <div>
              <img src="http://lorempicsum.com/simpsons/350/200/2" alt="1" />
            </div>
            <div>
              <img src="http://lorempicsum.com/simpsons/350/200/3" alt="2" />
            </div>
            <div>
              <img src="http://lorempicsum.com/simpsons/350/200/4" alt="3" />
            </div>
          </div>
        </div><!-- /.block-media -->

        <div class="block-text" data-aos="fade-up-right">
          <div class="carousel-text slider-for">
            <div>
              <span class="title">
                Sed ut perspiciatis unde omnis iste natus error
              </span>
              <p class="headline">
                Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
            <div>
              <span class="title">
                Nemo enim ipsam
              </span>
              <p class="headline">
                Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.
              </p>
            </div>
            <div>
              <span class="title">
                Non provident, similique sunt in culpa
              </span>
              <p class="headline">
                Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                expedita distinctio.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>


<div class="fusion-reading-box-container reading-box-container-2">
  <div class="reading-box reading-box-center element-bottomshadow">
    <div class="reading-box-additional">
      text
    </div>
  </div>

</div>

<div class="block-block"></div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="50">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="150">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="250">lorem10</div>
</div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>
<div class="fadeup-list" id="anchor">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>
<div class="fadeup-list">
  <div data-aos="fade-up" data-aos-delay="0">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="100">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="200">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="300">lorem10</div>
  <div data-aos="fade-up" data-aos-delay="400">lorem10</div>
</div>


<script>
  function headerScroll () {
	var oldScrollY = 0;
	var div = document.getElementById("fixedDiv");
	
	window.onscroll = function() {
	  var scrolled = window.pageYOffset || document.documentElement.scrollTop;
	  var dY = scrolled - oldScrollY;
	
	  if ( dY > 0 ){
		div.className = "fixed is-hidden";
	  } else {
		div.className = "fixed is-visible";
	  }
	  
	  oldScrollY = scrolled;
	}
}
  headerScroll ();</script>

{% endblock %}
