.icon-facebook {
  width: 0.6em;
  height: 1em;
  fill: #222222;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #222222;
}
.icon-logo {
  width: 10.93em;
  height: 1em;
  fill: white;
}
.icon-spotify {
  width: 1em;
  height: 1em;
  fill: #222222;
}
